<div class="container">
  <div class="container" style="background-color: #e0cecc; padding-top: 5px; padding-bottom: 5px; margin-bottom: 15px;">
  <p><%=@question%></p>
  <p><em>- You</em></p>
  </div>
  <div class="container" style="background-color: #e0cecc; padding-top: 5px; padding-bottom: 5px; margin-bottom: 15px;">
  <p><strong><%=@answer%></strong></p>
  <p><em>- Your coach</em></p>
  </div>
  <%=link_to 'Ask a new question', ask_path%>
<div>
